<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Support us</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    
    <style>
     
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    /* Apply Montserrat font to all elements */
    body {
        font-family: 'Montserrat', sans-serif;

    }
    .nav-item {
      font-size: 18px !important;
  }
    </style>
    <script src="https://www.paypal.com/sdk/js?client-id=ASHNxGs1TsDoDnrAOrWQturgQf_B5GDb_4NSOrBmU9FtgqhDYMc6N5lXdrHHI7DHrVVrxowq9Tmxq_i6"></script>
</head>
  <body>
    <%- include('header.ejs') %>
    <div class="container" style="margin-top:20px">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <h2 class="ms-text-center" style="min-width:200px">Paw Rescue :З</h2>
          <div class="ms-text-center pb-2">
            <div class="ms-label ms-large ms-action2 ms-light">$5 USD</div>
          </div>
          <div id="alerts" class="ms-text-center"></div>
          <div id="loading" class="spinner-container ms-div-center">
            <div class="spinner"></div>
          </div>
          <div id="content" class="hide">
            <div class="ms-card ms-fill">
              <div class="ms-card-content">
                <img src="https://www.aear.org/wp-content/uploads/2021/02/one-time-donations-icon.jpg" style="width:400px">
              </div>
            </div>
            <div id="payment_options"></div>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
    <%- include('footer.ejs') %>
    <script>
        let url_to_head = (url) => {
            return new Promise(function(resolve, reject) {
                var script = document.createElement('script');
                script.src = url;
                script.onload = function() {
                    resolve();
                };
                script.onerror = function() {
                    reject('Error loading script.');
                };
                document.head.appendChild(script);
            });
        }
        let handle_close = (event) => {
            event.target.closest(".ms-alert").remove();
        }
        let handle_click = (event) => {
            if (event.target.classList.contains("ms-close")) {
                handle_close(event);
            }
        }
        document.addEventListener("click", handle_click);
        const paypal_sdk_url = "https://www.paypal.com/sdk/js";
        const client_id = "ASHNxGs1TsDoDnrAOrWQturgQf_B5GDb_4NSOrBmU9FtgqhDYMc6N5lXdrHHI7DHrVVrxowq9Tmxq_i6";
        const currency = "USD";
        const intent = "capture";
        let alerts = document.getElementById("alerts");
        
        //PayPal Code
        //https://developer.paypal.com/sdk/js/configuration/#link-queryparameters
        url_to_head(paypal_sdk_url + "?client-id=" + client_id + "&enable-funding=venmo&currency=" + currency + "&intent=" + intent)
        .then(() => {
            //Handle loading spinner
            document.getElementById("loading").classList.add("hide");
            document.getElementById("content").classList.remove("hide");
            let alerts = document.getElementById("alerts");
            let paypal_buttons = paypal.Buttons({ // https://developer.paypal.com/sdk/js/reference
                onClick: (data) => { // https://developer.paypal.com/sdk/js/reference/#link-oninitonclick
                    //Custom JS here
                },
                style: { //https://developer.paypal.com/sdk/js/reference/#link-style
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'paypal'
                },
        
                createOrder: function(data, actions) { //https://developer.paypal.com/docs/api/orders/v2/#orders_create
                    return fetch("https://pawrescue-hub-project.onrender.com/pets/create_order", {
                        method: "post", headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({ "intent": intent })
                    })
                    .then((response) => response.json())
                    .then((order) => { return order.id; });
                },
        
                onApprove: function(data, actions) {
                    let order_id = data.orderID;
                    return fetch("https://pawrescue-hub-project.onrender.com/pets/complete_order", {
                        method: "post", headers: { "Content-Type": "application/json; charset=utf-8" },
                        body: JSON.stringify({
                            "intent": intent,
                            "order_id": order_id
                        })
                    })
                    .then((response) => response.json())
                    .then((order_details) => {
                        console.log(order_details); //https://developer.paypal.com/docs/api/orders/v2/#orders_capture!c=201&path=create_time&t=response
                        let intent_object = intent === "authorize" ? "authorizations" : "captures";
                        //Custom Successful Message
                        alerts.innerHTML = `<div class=\'ms-alert ms-action\'>Thank you ` + order_details.payer.name.given_name + ` ` + order_details.payer.name.surname + ` for your payment of ` + order_details.purchase_units[0].payments[intent_object][0].amount.value + ` ` + order_details.purchase_units[0].payments[intent_object][0].amount.currency_code + `!</div>`;
        
                        //Close out the PayPal buttons that were rendered
                        <!-- paypal_buttons.close(); -->
                     })
                     .catch((error) => {
                        console.log(error);
                        alerts.innerHTML = `<div class="ms-alert ms-action2 ms-small"><span class="ms-close"></span><p>An Error Ocurred!</p>  </div>`;
                     });
                },
        
                onCancel: function (data) {
                    alerts.innerHTML = `<div class="ms-alert ms-action2 ms-small"><span class="ms-close"></span><p>Order cancelled!</p>  </div>`;
                },
        
                onError: function(err) {
                    console.log(err);
                }
            });
            paypal_buttons.render('#payment_options').then(function () {
                loading.classList.add("hide");
                content.classList.remove("hide");
            }).catch(function (error) {
                console.log(error);
            });
        })
       
    </script>
  </body>
</html>