<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style/supportPageStyle.css">
</head>

<body>

    <!-- Navbar -->
    <% include('header.ejs') %>

    <!-- Support Container -->
    <div class="container support-container">
        <!-- Donation Section -->
        <div class="donation-section">
            <h2 class="donation-title">Make a Donation</h2>
            <form class="donation-form">
                <!-- Add your donation form fields here -->
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="text" class="form-control" id="amount" placeholder="Enter donation amount">
                </div>
                <div class="form-group">
                    <label for="creditCard">Credit Card:</label>
                    <input type="text" class="form-control" id="creditCard" placeholder="Enter credit card number">
                </div>
                <button type="submit" class="btn btn-primary">Donate Now</button>
            </form>
        </div>

        <!-- Result Statistics Section -->
        <div class="statistics-section">
            <h2 class="statistics-title">Result Statistics</h2>
            <div class="result-statistics">
                <div class="statistics-item">Total Donations: $50,000</div>
                <div class="statistics-item">Number of Supporters: 500</div>
                <!-- Add more statistics items as needed -->
            </div>
        </div>
    </div>

    <!-- Footer -->
    <% include('footer.ejs') %>
    <!-- Bootstrap JS and jQuery (make sure they are included at the end of the body for better performance) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>
